@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import '././../.././styles/variables.scss';
@import '././../.././styles/mixins.scss';
.body {
  height: 94vh;
  width: 100vw;
  padding-left: 20px;
  position: relative;
}

button {
  width: 30vw;
  scroll-snap-align: center;
  object-fit: cover;
  margin-left: 5px;
  border-radius: 5px;
  border: none;
}
button:hover {
  background-color: #ffe031;
}
.buttonsH {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

p {
  font-family: 'roboto';
}
h4 {
  font-family: 'roboto';
}
.nav {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  &_section {
    display: flex;
    img {
      width: 20px;
      height: 30px;
    }
  }
  &_new {
    height: 10%;
    margin-top: 10%;
  }
  &_p {
    font-size: 12px;
    color: #ffe031;
  }
}
.main {
  padding-bottom: 2.9%;
  &_dashboard {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: 100%;
    height: 4.2%;
    margin-bottom: 7%;
    margin-top: 3%;
  }
  &_content {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    width: 90%;
    gap: 5px;
    height: 100%;
  }

  &_cards {
    display: flex;
    height: 18%;
    figure {
      width: 80%;
      img {
        border-radius: 20px;
        width: 100%;
      }
    }
    aside {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      img {
        width: 50px;
      }
    }
  }
}
.botonCompras {
  background-color: #ffe031;
  width: 90%;
  position: fixed;
  bottom: 6%;
}
.card-img-left {
  @include from($medium) {
    max-width: 400px;
  }
}